body, html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}


#menu {
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
	z-index: 999;
	font-size: 16px;
	background: linear-gradient(to right, #4e7eef, #ee464b);
}

#menu ul li:hover {
	transition: all 0.3s ease-in;
	color: hsl(0, 100%, 50%);
	border: 3px solid white;
	border-radius: 50%;
	box-shadow: 0 0 10px white;
	animation: pulse 1s linear infinite;
  }
  
  
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}




section h1 {
    position: relative;
    font-size: 36px;
    font-weight: bold;
    padding: 0 10px;
    margin: 50px 0 30px;
    color: #351bff;
  }
  
section h1:before,
section h1:after {
	content: '';
	position: absolute;
	top: 50%;
	height: 4px;
	background-color: #0077cc;
	transform: translateY(-50%);
	width: 80px;
	transition: transform 0.2s ease-in-out;
}

section h1:before {
	left: 0;
}

section h1:after {
	right: 0;
}

section h1:hover:before {
	transform: translate(80%, -50%);
}

section h1:hover:after {
	transform: translate(-80%, -50%);
}


  





#menu ul 
{
  list-style: none;
  margin: 0;
  padding: 0;
}
  
#menu li 
{
  display: inline-block;
  margin-right: 20px;
}

#menu li:last-child 
{
  margin-right: 0;
}

#menu a 
{
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

#menu img
{
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}





section {
  margin-top: 80px;
  text-align: center;
}

section p {
  text-align: left;
  position: relative;
  font-size: 28px;
  padding: 0 10px;
  margin: 50px 0 30px;
  color: #000000;
  }

  .about ol {
    text-align: center;
  }

  .about il {
    text-align: center;
  }

  ol {
    font-size: 28px;
    /* list-style-position: inside; */
    /* text-align: left; */
  }
  
  li {
    font-size: inherit;
    text-align: left;
  }




  #photos .image-scroll-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  #photos .image-scroll-container::-webkit-scrollbar {
    display: none;
  }
  
  #photos .image-scroll-container img {
    scroll-snap-align: start;
    margin-right: 50px;
  }




  form {
    display: inline-block;
    text-align: left;
    border: 2px solid #0077cc;
    padding: 20px;
    border-radius: 10px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: #0077cc;
    font-weight: bold;
  }




  input[type="submit"] {
    background-color: #0077cc;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .emoji-list {
    margin: 10px 0;
  }
  
  .emoji {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .send-button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #0062cc;
  }





  body {
    background: linear-gradient(to bottom right, #F36BA2, #5F0A87);
    background-image: url('https://www.transparenttextures.com/patterns/gplay.png');
  }
  





  